<p>Voici la page contact</p>
<p> Pour toute réclamation, veuillez adressez vos demandes au président de la République.</p>
<br>
<p>Pour les compliments, rendez vous sur jeanjean@gossip.bzh ou 0836 65 65 65.</p>