<div class="page content col-7">
<h2>Mode édition de commentaire :</h2><br>
  <%= form_for [@gossip, @comment] do |form|%>
    <div class="form-group">

    <label> Ton commentaire : </label>
    <%= form.text_field :content, class: "form-control" %>
    <br><br>
    </div>

    <%= submit_tag "Sauvegarder", class: 'btn btn-outline-secondary btn-sm' %>
  <% end %>
  
</div>