<h1>Inscription</h1>
<br>
<p> Cette inscription te donnera accès aux commentaires et aux messages privés.</p>

<%= render "form", user: @user %>

<br>

<div>
  <%= link_to "Back to users", users_path %>
</div>
