<h1>Editing gossiptag</h1>

<%= render "form", gossiptag: @gossiptag %>

<br>

<div>
  <%= link_to "Show this gossiptag", @gossiptag %> |
  <%= link_to "Back to gossiptags", gossiptags_path %>
</div>
